> This dataset is a great resource for researchers and professionals looking to investigate the impact of maternal mental health difficulties on infant sleep. It includes 410 mothers of infants aged between 3 to 12 months old, providing invaluable insights into this important area.

> The data covers a variety of topics, including sociodemographic data (e.g., maternal age, marital status, and educational level) as well as maternal mental health data (such as CB-PTSD, depression and anxiety) and infant sleep patterns (e.g., duration and number of night awakenings).

> In order to make the most out of this dataset researchers can use various analytical tools such as descriptive statistics or regression models in order to study different aspects such as the association between sociodemographics or mental health difficulty with regards to infant sleep duration or quality. Additionally, potential mediators and moderators can be identified by studying specific subgroups within the sample in more depth or making comparisons with other datasets available online which measure similar variables.

#### Using this dataset it will also be possible to gain further insight into key factors that might influence mothers' decisions when it comes to their children's sleeping habits (i.g., whether they should share the same bed with their baby)

- Investigating the relationship between maternal mental health difficulties,
    such as postpartum depression and anxiety, and infant sleep patterns.
- Examining the role of mediators, such as sociodemographic characteristics (age, education level) in moderating
    the relationship between maternal mental health difficulty and infant’s sleep patterns.
- Investigating how various factors (e.g., maternal age, gender of the baby, etc.) affect infants’ sleeping habits
    and quality of sleep throughout infancy up to one-year-old infancy stages by analyzing changes in certain variables
    across all months included in this dataset


> - Data authors <br>
>  This dataset is related to: Sandoz, V.; Lacroix, A.; Stuijfzand, S.; Bickle Graz, M.; Horsch, A.
>  Maternal Mental Health Symptom Profiles and Infant Sleep: A Cross-Sectional Survey. Diagnostics 2022, 12, 1625.

https://doi.org/10.3390/diagnostics12071625.

https://zenodo.org/record/5070945#.Y8OqatJBwUE

### Importing libraries for the analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importing dataset from a csv file

In [2]:
data = pd.read_csv('Dataset_maternal_mental_health_infant_sleep.csv', encoding = 'unicode_escape')
df = data.copy()

> This line of code on the cell below will helps to display all rows and columns on the DataFrame

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Data Exploration

In [4]:
df.shape

(410, 63)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Participant_number          410 non-null    int64
 1   Type_parents                410 non-null    int64
 2   Birth_1mth_M_inclusion      410 non-null    int64
 3   Birth_12mth_M_inclusion     410 non-null    int64
 4   Age                         410 non-null    int64
 5   Marital_status              410 non-null    int64
 6   Marital_status_edit         410 non-null    int64
 7   Education                   410 non-null    int64
 8   Gestationnal_age            410 non-null    float64
 9   Type_pregnancy              410 non-null    int64
 10  sex_baby1                   410 non-null    int64
 11  CBTS_M_3                    410 non-null    int64
 12  CBTS_M_4                    410 non-null    int64
 13  CBTS_M_5                    410 non-null    int64
 14  CBTS_M_6                    410 non-null    int64
 15  CBTS_M_7                    410 non-null    int64
 16  CBTS_M_8                    410 non-null    int64
 17  CBTS_M_9                    410 non-null    int64
 18  CBTS_M_10                   410 non-null    int64
 19  CBTS_M_11                   410 non-null    int64
 20  CBTS_M_12                   410 non-null    int64
 21  CBTS_13                     410 non-null    int64
 22  CBTS_14                     410 non-null    int64
 23  CBTS_15                     410 non-null    int64
 24  CBTS_16                     410 non-null    int64
 25  CBTS_17                     410 non-null    int64
 26  CBTS_18                     410 non-null    int64
 27  CBTS_19                     410 non-null    int64
 28  CBTS_20                     410 non-null    int64
 29  CBTS_21                     410 non-null    int64
 30  CBTS_22                     410 non-null    int64
 31  EPDS_1                      410 non-null    int64
 32  EPDS_2                      410 non-null    int64
 33  EPDS_3                      410 non-null    int64
 34  EPDS_4                      410 non-null    int64
 35  EPDS_5                      410 non-null    int64
 36  EPDS_6                      410 non-null    int64
 37  EPDS_7                      410 non-null    int64
 38  EPDS_8                      410 non-null    int64
 39  EPDS_9                      410 non-null    int64
 40  EPDS_10                     410 non-null    int64
 41  HADS_1                      410 non-null    int64
 42  HADS_3                      410 non-null    int64
 43  HADS_5                      410 non-null    int64
 44  HADS_7                      410 non-null    int64
 45  HADS_9                      410 non-null    int64
 46  HADS_11                     410 non-null    int64
 47  HADS_13                     410 non-null    int64
 48  Child_survey_participation  410 non-null    int64
 49  Age_bb                      410 non-null    int64
 50  IBQ_R_VSF_3_bb1             405 non-null    float64
 51  IBQ_R_VSF_4_bb1             377 non-null    float64
 52  IBQ_R_VSF_9_bb1             376 non-null    float64
 53  IBQ_R_VSF_10_bb1            375 non-null    float64
 54  IBQ_R_VSF_16_bb1            394 non-null    float64
 55  IBQ_R_VSF_17_bb1            329 non-null    float64
 56  IBQ_R_VSF_28_bb1            347 non-null    float64
 57  IBQ_R_VSF_29_bb1            395 non-null    float64
 58  IBQ_R_VSF_32_bb1            378 non-null    float64
 59  IBQ_R_VSF_33_bb1            326 non-null    float64
 60  Sleep_night_duration_bb1    410 non-null    object
 61  night_awakening_number_bb1  410 non-null    int64
 62  how_falling_asleep_bb1      410 non-null    int64
dtypes: float64(11), int64(51), object(1)
memory usage: 201.9+ KB

> All columns of the DataFrame but 1 have numerial values. Because almost all the columns are answers to a survey question those columns data types will need to be changed to categorical.

#### Example of the Data and summary stats

In [6]:
df.head()

,Participant_number,Type_parents,Birth_1mth_M_inclusion,Birth_12mth_M_inclusion,Age,Marital_status,Marital_status_edit,Education,Gestationnal_age,Type_pregnancy,sex_baby1,CBTS_M_3,CBTS_M_4,CBTS_M_5,CBTS_M_6,CBTS_M_7,CBTS_M_8,CBTS_M_9,CBTS_M_10,CBTS_M_11,CBTS_M_12,CBTS_13,CBTS_14,CBTS_15,CBTS_16,CBTS_17,CBTS_18,CBTS_19,CBTS_20,CBTS_21,CBTS_22,EPDS_1,EPDS_2,EPDS_3,EPDS_4,EPDS_5,EPDS_6,EPDS_7,EPDS_8,EPDS_9,EPDS_10,HADS_1,HADS_3,HADS_5,HADS_7,HADS_9,HADS_11,HADS_13,Child_survey_participation,Age_bb,IBQ_R_VSF_3_bb1,IBQ_R_VSF_4_bb1,IBQ_R_VSF_9_bb1,IBQ_R_VSF_10_bb1,IBQ_R_VSF_16_bb1,IBQ_R_VSF_17_bb1,IBQ_R_VSF_28_bb1,IBQ_R_VSF_29_bb1,IBQ_R_VSF_32_bb1,IBQ_R_VSF_33_bb1,Sleep_night_duration_bb1,night_awakening_number_bb1,how_falling_asleep_bb1
0,1,1,1,1,34,2,2,5,37.0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,2,0,2,0,0,1,1,2,2,1,1,2,0,2,2,0,2,1,2,2,0,1,1,1,1,6.0,NaN,7.0,NaN,7.0,NaN,NaN,7.0,6.0,NaN,10:00,3,2
1,2,1,1,1,33,2,2,5,42.0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,3,1.0,4.0,2.0,2.0,3.0,2.0,2.0,2.0,3.0,4.0,11:00,0,4
2,3,1,1,1,37,2,2,5,41.0,1,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,2,0,2,0,2,0,1,0,2,1,0,2,0,1,1,0,2,1,1,2,0,3,0,1,1,1.0,NaN,NaN,4.0,4.0,3.0,1.0,4.0,NaN,NaN,12:00,1,2
3,4,1,1,1,31,2,2,5,37.5,1,2,0,0,1,1,1,0,0,1,1,1,2,0,1,0,1,0,2,0,2,0,1,1,2,2,2,2,2,2,1,1,1,3,3,1,2,2,1,1,3,2.0,5.0,2.0,1.0,3.0,NaN,NaN,NaN,5.0,NaN,11:00,2,1
4,5,1,1,1,36,1,1,5,40.0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,2,0,0,0,0,1,0,0,1,0,1,0,1,3,2.0,6.0,2.0,4.0,2.0,2.0,4.0,5.0,6.0,6.0,10:30,1,4

In [7]:
df.describe().style.background_gradient()

### Variable exploration. 
#### Check or unique values for every column

In [8]:
df.nunique()

Participant_number            410
Type_parents                    1
Birth_1mth_M_inclusion          1
Birth_12mth_M_inclusion         1
Age                            26
Marital_status                  4
Marital_status_edit             3
Education                       5
Gestationnal_age               57
Type_pregnancy                  2
sex_baby1                       2
CBTS_M_3                        4
CBTS_M_4                        4
CBTS_M_5                        4
CBTS_M_6                        4
CBTS_M_7                        4
CBTS_M_8                        4
CBTS_M_9                        4
CBTS_M_10                       4
CBTS_M_11                       4
CBTS_M_12                       4
CBTS_13                         4
CBTS_14                         4
CBTS_15                         4
CBTS_16                         4
CBTS_17                         4
CBTS_18                         4
CBTS_19                         4
CBTS_20                         4
CBTS_21                         4
CBTS_22                         4
EPDS_1                          4
EPDS_2                          4
EPDS_3                          4
EPDS_4                          4
EPDS_5                          4
EPDS_6                          4
EPDS_7                          4
EPDS_8                          4
EPDS_9                          4
EPDS_10                         4
HADS_1                          4
HADS_3                          4
HADS_5                          4
HADS_7                          4
HADS_9                          4
HADS_11                         4
HADS_13                         4
Child_survey_participation      1
Age_bb                          3
IBQ_R_VSF_3_bb1                 7
IBQ_R_VSF_4_bb1                 7
IBQ_R_VSF_9_bb1                 7
IBQ_R_VSF_10_bb1                7
IBQ_R_VSF_16_bb1                7
IBQ_R_VSF_17_bb1                7
IBQ_R_VSF_28_bb1                7
IBQ_R_VSF_29_bb1                7
IBQ_R_VSF_32_bb1                7
IBQ_R_VSF_33_bb1                7
Sleep_night_duration_bb1       15
night_awakening_number_bb1     10
how_falling_asleep_bb1          5
dtype: int64

In [9]:
for col in df.columns:
    if col not in ['Participant_number', 'Gestationnal_age', 'Age']:
        print(f'{col} - {np.sort(df[col].unique())}')

Type_parents - [1]
Birth_1mth_M_inclusion - [1]
Birth_12mth_M_inclusion - [1]
Marital_status - [1 2 3 6]
Marital_status_edit - [1 2 3]
Education - [1 2 3 4 5]
Type_pregnancy - [1 2]
sex_baby1 - [1 2]
CBTS_M_3 - [0 1 2 3]
CBTS_M_4 - [0 1 2 3]
CBTS_M_5 - [0 1 2 3]
CBTS_M_6 - [0 1 2 3]
CBTS_M_7 - [0 1 2 3]
CBTS_M_8 - [0 1 2 3]
CBTS_M_9 - [0 1 2 3]
CBTS_M_10 - [0 1 2 3]
CBTS_M_11 - [0 1 2 3]
CBTS_M_12 - [0 1 2 3]
CBTS_13 - [0 1 2 3]
CBTS_14 - [0 1 2 3]
CBTS_15 - [0 1 2 3]
CBTS_16 - [0 1 2 3]
CBTS_17 - [0 1 2 3]
CBTS_18 - [0 1 2 3]
CBTS_19 - [0 1 2 3]
CBTS_20 - [0 1 2 3]
CBTS_21 - [0 1 2 3]
CBTS_22 - [0 1 2 3]
EPDS_1 - [0 1 2 3]
EPDS_2 - [0 1 2 3]
EPDS_3 - [0 1 2 3]
EPDS_4 - [0 1 2 3]
EPDS_5 - [0 1 2 3]
EPDS_6 - [0 1 2 3]
EPDS_7 - [0 1 2 3]
EPDS_8 - [0 1 2 3]
EPDS_9 - [0 1 2 3]
EPDS_10 - [0 1 2 3]
HADS_1 - [0 1 2 3]
HADS_3 - [0 1 2 3]
HADS_5 - [0 1 2 3]
HADS_7 - [0 1 2 3]
HADS_9 - [0 1 2 3]
HADS_11 - [0 1 2 3]
HADS_13 - [0 1 2 3]
Child_survey_participation - [1]
Age_bb - [1 2 3]
IBQ_R_VSF_3_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_4_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_9_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_10_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_16_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_17_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_28_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_29_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_32_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
IBQ_R_VSF_33_bb1 - [ 1.  2.  3.  4.  5.  6.  7. nan]
Sleep_night_duration_bb1 - ['10:00' '10:30' '11:00' '11:15' '11:30' '12:00' '5:00' '6:00' '7:00'
 '7:30' '8:00' '8:30' '99:99' '9:00' '9:30']
night_awakening_number_bb1 - [ 0  1  2  3  4  5  6  7  8 10]
how_falling_asleep_bb1 - [1 2 3 4 5]

### Checking for duplication

In [10]:
df.duplicated().sum()

0

### Checking for Null Values

In [11]:
df.isnull().sum()

Participant_number             0
Type_parents                   0
Birth_1mth_M_inclusion         0
Birth_12mth_M_inclusion        0
Age                            0
Marital_status                 0
Marital_status_edit            0
Education                      0
Gestationnal_age               0
Type_pregnancy                 0
sex_baby1                      0
CBTS_M_3                       0
CBTS_M_4                       0
CBTS_M_5                       0
CBTS_M_6                       0
CBTS_M_7                       0
CBTS_M_8                       0
CBTS_M_9                       0
CBTS_M_10                      0
CBTS_M_11                      0
CBTS_M_12                      0
CBTS_13                        0
CBTS_14                        0
CBTS_15                        0
CBTS_16                        0
CBTS_17                        0
CBTS_18                        0
CBTS_19                        0
CBTS_20                        0
CBTS_21                        0
CBTS_22                        0
EPDS_1                         0
EPDS_2                         0
EPDS_3                         0
EPDS_4                         0
EPDS_5                         0
EPDS_6                         0
EPDS_7                         0
EPDS_8                         0
EPDS_9                         0
EPDS_10                        0
HADS_1                         0
HADS_3                         0
HADS_5                         0
HADS_7                         0
HADS_9                         0
HADS_11                        0
HADS_13                        0
Child_survey_participation     0
Age_bb                         0
IBQ_R_VSF_3_bb1                5
IBQ_R_VSF_4_bb1               33
IBQ_R_VSF_9_bb1               34
IBQ_R_VSF_10_bb1              35
IBQ_R_VSF_16_bb1              16
IBQ_R_VSF_17_bb1              81
IBQ_R_VSF_28_bb1              63
IBQ_R_VSF_29_bb1              15
IBQ_R_VSF_32_bb1              32
IBQ_R_VSF_33_bb1              84
Sleep_night_duration_bb1       0
night_awakening_number_bb1     0
how_falling_asleep_bb1         0
dtype: int64

### Data Cleaning

### Setting Participant_number as the index

In [12]:
df.set_index('Participant_number', inplace=True)

#### Marital_status
- 1 = single; 2 = in a relationship; 3 = separated, divorced or widow; 6 = other. 
#### Marital_status_edit
- 1 = single; 2 = in a relationship; 3 = separated, divorced or widow.

> - Participant_number used as index
> - Type_parents, Birth_1mth_M_inclusion, Birth_12mth_M_inclusion and Child_survey_participation columns have 1 value per row. This columns will be dropped due that do not add value to our data 
> - Marital_status will be dropped

In [13]:
df.drop(columns=['Type_parents', 'Birth_1mth_M_inclusion',
                     'Birth_12mth_M_inclusion', 'Marital_status', 'Child_survey_participation'], inplace=True)

In [14]:
df.nunique()

Age                           26
Marital_status_edit            3
Education                      5
Gestationnal_age              57
Type_pregnancy                 2
sex_baby1                      2
CBTS_M_3                       4
CBTS_M_4                       4
CBTS_M_5                       4
CBTS_M_6                       4
CBTS_M_7                       4
CBTS_M_8                       4
CBTS_M_9                       4
CBTS_M_10                      4
CBTS_M_11                      4
CBTS_M_12                      4
CBTS_13                        4
CBTS_14                        4
CBTS_15                        4
CBTS_16                        4
CBTS_17                        4
CBTS_18                        4
CBTS_19                        4
CBTS_20                        4
CBTS_21                        4
CBTS_22                        4
EPDS_1                         4
EPDS_2                         4
EPDS_3                         4
EPDS_4                         4
EPDS_5                         4
EPDS_6                         4
EPDS_7                         4
EPDS_8                         4
EPDS_9                         4
EPDS_10                        4
HADS_1                         4
HADS_3                         4
HADS_5                         4
HADS_7                         4
HADS_9                         4
HADS_11                        4
HADS_13                        4
Age_bb                         3
IBQ_R_VSF_3_bb1                7
IBQ_R_VSF_4_bb1                7
IBQ_R_VSF_9_bb1                7
IBQ_R_VSF_10_bb1               7
IBQ_R_VSF_16_bb1               7
IBQ_R_VSF_17_bb1               7
IBQ_R_VSF_28_bb1               7
IBQ_R_VSF_29_bb1               7
IBQ_R_VSF_32_bb1               7
IBQ_R_VSF_33_bb1               7
Sleep_night_duration_bb1      15
night_awakening_number_bb1    10
how_falling_asleep_bb1         5
dtype: int64

### Convert columns to category due that values are answer to questions

In [15]:
for col in df.columns:
    if col not in ['Age', 'Gestationnal_age', 'night_awakening_number_bb1']:
        df[col] = df[col]
        df[col] = df[col].astype('category')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, 1 to 410
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         410 non-null    int64
 1   Marital_status_edit         410 non-null    category
 2   Education                   410 non-null    category
 3   Gestationnal_age            410 non-null    float64
 4   Type_pregnancy              410 non-null    category
 5   sex_baby1                   410 non-null    category
 6   CBTS_M_3                    410 non-null    category
 7   CBTS_M_4                    410 non-null    category
 8   CBTS_M_5                    410 non-null    category
 9   CBTS_M_6                    410 non-null    category
 10  CBTS_M_7                    410 non-null    category
 11  CBTS_M_8                    410 non-null    category
 12  CBTS_M_9                    410 non-null    category
 13  CBTS_M_10                   410 non-null    category
 14  CBTS_M_11                   410 non-null    category
 15  CBTS_M_12                   410 non-null    category
 16  CBTS_13                     410 non-null    category
 17  CBTS_14                     410 non-null    category
 18  CBTS_15                     410 non-null    category
 19  CBTS_16                     410 non-null    category
 20  CBTS_17                     410 non-null    category
 21  CBTS_18                     410 non-null    category
 22  CBTS_19                     410 non-null    category
 23  CBTS_20                     410 non-null    category
 24  CBTS_21                     410 non-null    category
 25  CBTS_22                     410 non-null    category
 26  EPDS_1                      410 non-null    category
 27  EPDS_2                      410 non-null    category
 28  EPDS_3                      410 non-null    category
 29  EPDS_4                      410 non-null    category
 30  EPDS_5                      410 non-null    category
 31  EPDS_6                      410 non-null    category
 32  EPDS_7                      410 non-null    category
 33  EPDS_8                      410 non-null    category
 34  EPDS_9                      410 non-null    category
 35  EPDS_10                     410 non-null    category
 36  HADS_1                      410 non-null    category
 37  HADS_3                      410 non-null    category
 38  HADS_5                      410 non-null    category
 39  HADS_7                      410 non-null    category
 40  HADS_9                      410 non-null    category
 41  HADS_11                     410 non-null    category
 42  HADS_13                     410 non-null    category
 43  Age_bb                      410 non-null    category
 44  IBQ_R_VSF_3_bb1             405 non-null    category
 45  IBQ_R_VSF_4_bb1             377 non-null    category
 46  IBQ_R_VSF_9_bb1             376 non-null    category
 47  IBQ_R_VSF_10_bb1            375 non-null    category
 48  IBQ_R_VSF_16_bb1            394 non-null    category
 49  IBQ_R_VSF_17_bb1            329 non-null    category
 50  IBQ_R_VSF_28_bb1            347 non-null    category
 51  IBQ_R_VSF_29_bb1            395 non-null    category
 52  IBQ_R_VSF_32_bb1            378 non-null    category
 53  IBQ_R_VSF_33_bb1            326 non-null    category
 54  Sleep_night_duration_bb1    410 non-null    category
 55  night_awakening_number_bb1  410 non-null    int64
 56  how_falling_asleep_bb1      410 non-null    category
dtypes: category(54), float64(1), int64(2)
memory usage: 46.9 KB

### Replacing values on columns

In [17]:
# 1 => single (s), 2 => in a relationship (r),  3 => separated-divorced-widow (sep-d-w)

# Updating column names for the question variables
df.Marital_status_edit = df.Marital_status_edit.replace({1: 's', 2: 'r', 3: 'sep-d-w'})

In [18]:
#  1 => single pregnance; 2 => twin pregnancy

df.Type_pregnancy = df.Type_pregnancy.replace({1: 'single', 2: 'twin'})

In [19]:
# 1 => ≥3 months to <6 months; 2 => ≥6 months to <9 months; 3 => ≥9 months to <12 months

df.Age_bb = df.Age_bb.replace({1 : '3 to <6', 2: '6 to <9', 3: '9 to <12'})

In [20]:
# 1 = while being fed; 2 =while being rocked; 3 = while being held; 4 = alone in the crib; 5 =in the crib with parental presence

df.how_falling_asleep_bb1 = df.how_falling_asleep_bb1.replace({1: 'while being fed', 2: 'while being rocked',
                                                                         3: 'while being held', 4: 'alone in the crib',
                                                                         5: 'in the crib with parental presence'})

In [21]:
# 1 => no education (n_e), 2 => high school (h_s), 3 => some university (s_U), 
# 4 => associate, certificate or Technology Degree (a_c_t), 5 => university (U)

df.Education = df.Education.replace({1: 'n_e', 2: 'h_s', 3: 's_U', 4: 'a_c_t', 5: 'U'})

In [22]:
df.sex_baby1 = df.sex_baby1.replace({1: 'girl', 2: 'boy'})

In [23]:
# Renaming a single column
df = df.rename(columns={'Marital_status_edit': 'Marital_status',
                                 'sex_baby1': 'Sex'})

### Converting all column names to lower case

In [24]:
df.columns = df.columns.str.lower()

### Making dataframes for each test (CBTS, EPDS, HADS and IBQ_R)

In [25]:
df_cbts = df.loc[:, 'cbts_m_3': 'cbts_22']
df_epds = df.loc[:, 'epds_1': 'epds_10']
df_hads = df.loc[:, 'hads_1': 'hads_13']
df_ibq_r = df.loc[:, 'ibq_r_vsf_3_bb1': 'ibq_r_vsf_33_bb1']

In [26]:
df.columns

Index(['age', 'marital_status', 'education', 'gestationnal_age',
       'type_pregnancy', 'sex', 'cbts_m_3', 'cbts_m_4', 'cbts_m_5', 'cbts_m_6',
       'cbts_m_7', 'cbts_m_8', 'cbts_m_9', 'cbts_m_10', 'cbts_m_11',
       'cbts_m_12', 'cbts_13', 'cbts_14', 'cbts_15', 'cbts_16', 'cbts_17',
       'cbts_18', 'cbts_19', 'cbts_20', 'cbts_21', 'cbts_22', 'epds_1',
       'epds_2', 'epds_3', 'epds_4', 'epds_5', 'epds_6', 'epds_7', 'epds_8',
       'epds_9', 'epds_10', 'hads_1', 'hads_3', 'hads_5', 'hads_7', 'hads_9',
       'hads_11', 'hads_13', 'age_bb', 'ibq_r_vsf_3_bb1', 'ibq_r_vsf_4_bb1',
       'ibq_r_vsf_9_bb1', 'ibq_r_vsf_10_bb1', 'ibq_r_vsf_16_bb1',
       'ibq_r_vsf_17_bb1', 'ibq_r_vsf_28_bb1', 'ibq_r_vsf_29_bb1',
       'ibq_r_vsf_32_bb1', 'ibq_r_vsf_33_bb1', 'sleep_night_duration_bb1',
       'night_awakening_number_bb1', 'how_falling_asleep_bb1'],
      dtype='object')

In [27]:
df_basic = df[['age', 'marital_status', 'education', 'gestationnal_age',
       'type_pregnancy', 'sex','age_bb','sleep_night_duration_bb1', 'night_awakening_number_bb1',
       'how_falling_asleep_bb1']]

In [28]:
df_cbts.head()

,cbts_m_3,cbts_m_4,cbts_m_5,cbts_m_6,cbts_m_7,cbts_m_8,cbts_m_9,cbts_m_10,cbts_m_11,cbts_m_12,cbts_13,cbts_14,cbts_15,cbts_16,cbts_17,cbts_18,cbts_19,cbts_20,cbts_21,cbts_22
Participant_number,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,2,0,2,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,1,1,0,0,0,2,0,2,0,2,0
4,0,0,1,1,1,0,0,1,1,1,2,0,1,0,1,0,2,0,2,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1

In [29]:
df_epds.head()

,epds_1,epds_2,epds_3,epds_4,epds_5,epds_6,epds_7,epds_8,epds_9,epds_10
Participant_number,,,,,,,,,,
1,1,2,2,1,1,2,0,2,2,0
2,0,0,0,0,0,0,0,0,0,0
3,1,0,2,1,0,2,0,1,1,0
4,1,1,2,2,2,2,2,2,1,1
5,0,0,1,0,0,2,0,0,0,0

In [30]:
df_hads.head()

                   hads_1 hads_3 hads_5 hads_7 hads_9 hads_11 hads_13
Participant_number
1                       2      1      2      2      0       1       1
2                       1      0      1      0      0       1       0
3                       2      1      1      2      0       3       0
4                       1      3      3      1      2       2       1
5                       1      0      0      1      0       1       0

In [31]:
df_ibq_r.head()

,ibq_r_vsf_3_bb1,ibq_r_vsf_4_bb1,ibq_r_vsf_9_bb1,ibq_r_vsf_10_bb1,ibq_r_vsf_16_bb1,ibq_r_vsf_17_bb1,ibq_r_vsf_28_bb1,ibq_r_vsf_29_bb1,ibq_r_vsf_32_bb1,ibq_r_vsf_33_bb1
Participant_number,,,,,,,,,,
1,6.0,NaN,7.0,NaN,7.0,NaN,NaN,7.0,6.0,NaN
2,1.0,4.0,2.0,2.0,3.0,2.0,2.0,2.0,3.0,4.0
3,1.0,NaN,NaN,4.0,4.0,3.0,1.0,4.0,NaN,NaN
4,2.0,5.0,2.0,1.0,3.0,NaN,NaN,NaN,5.0,NaN
5,2.0,6.0,2.0,4.0,2.0,2.0,4.0,5.0,6.0,6.0

In [32]:
df_basic.head()

,age,marital_status,education,gestationnal_age,type_pregnancy,sex,age_bb,sleep_night_duration_bb1,night_awakening_number_bb1,how_falling_asleep_bb1
Participant_number,,,,,,,,,,
1,34,r,U,37.0,single,girl,3 to <6,10:00,3,while being rocked
2,33,r,U,42.0,single,boy,9 to <12,11:00,0,alone in the crib
3,37,r,U,41.0,single,girl,3 to <6,12:00,1,while being rocked
4,31,r,U,37.5,single,boy,9 to <12,11:00,2,while being fed
5,36,s,U,40.0,single,boy,9 to <12,10:30,1,alone in the crib

## Imputing values on the original dataset

In [33]:
# Getting the percentage of null values
df.isnull().sum() / df.shape[0] * 100

age                            0.000000
marital_status                 0.000000
education                      0.000000
gestationnal_age               0.000000
type_pregnancy                 0.000000
sex                            0.000000
cbts_m_3                       0.000000
cbts_m_4                       0.000000
cbts_m_5                       0.000000
cbts_m_6                       0.000000
cbts_m_7                       0.000000
cbts_m_8                       0.000000
cbts_m_9                       0.000000
cbts_m_10                      0.000000
cbts_m_11                      0.000000
cbts_m_12                      0.000000
cbts_13                        0.000000
cbts_14                        0.000000
cbts_15                        0.000000
cbts_16                        0.000000
cbts_17                        0.000000
cbts_18                        0.000000
cbts_19                        0.000000
cbts_20                        0.000000
cbts_21                        0.000000
cbts_22                        0.000000
epds_1                         0.000000
epds_2                         0.000000
epds_3                         0.000000
epds_4                         0.000000
epds_5                         0.000000
epds_6                         0.000000
epds_7                         0.000000
epds_8                         0.000000
epds_9                         0.000000
epds_10                        0.000000
hads_1                         0.000000
hads_3                         0.000000
hads_5                         0.000000
hads_7                         0.000000
hads_9                         0.000000
hads_11                        0.000000
hads_13                        0.000000
age_bb                         0.000000
ibq_r_vsf_3_bb1                1.219512
ibq_r_vsf_4_bb1                8.048780
ibq_r_vsf_9_bb1                8.292683
ibq_r_vsf_10_bb1               8.536585
ibq_r_vsf_16_bb1               3.902439
ibq_r_vsf_17_bb1              19.756098
ibq_r_vsf_28_bb1              15.365854
ibq_r_vsf_29_bb1               3.658537
ibq_r_vsf_32_bb1               7.804878
ibq_r_vsf_33_bb1              20.487805
sleep_night_duration_bb1       0.000000
night_awakening_number_bb1     0.000000
how_falling_asleep_bb1         0.000000
dtype: float64

- Columns "IBQ_R_VSF_28_bb1" , "IBQ_R_VSF_33_bb1" are related 
> - 28 - When you introduced him/her to an adult he/she did not know, how often did your baby refuse to go to this unknown person?
> - 33 - When he/she was in the presence of several unfamiliar adults, how often did your baby cling to a parent?

#### KNNImputer 
> KNNImputer is a popular method for imputing missing values in datasets. It works by finding the k nearest neighbors of each observation with missing values and then imputing the missing values with the mean value of those neighbors. This method is relatively robust to outliers and can be used to impute missing values in both numerical and categorical data.
> KNNImputer is a powerful and versatile method for imputing missing values in datasets. It is relatively robust to outliers and can be used to impute missing values in both numerical and categorical data. However, it can be computationally expensive, and the choice of k can affect the results
#### Why to use KNNImputer ?
- It preserves the distribution of the data. When you impute missing values with the mean or median, you are essentially assuming that the missing values are distributed the same way as the observed values. This may not always be the case, and using KNNImputer can help to preserve the true distribution of the data

In [34]:
from sklearn.impute import KNNImputer

In [35]:
# Function to impute columns for dataframes
def column_knn_imputer(df):
    imputer = KNNImputer()
    columns_to_impute = list(df.columns[df.isnull().any()])
    
    df_imputed = df.copy(deep=True)
    # Impute using fit_transform on the df_imputed
    df_imputed.loc[:, columns_to_impute] = imputer.fit_transform(df.loc[:, columns_to_impute])
    
    return df_imputed

In [36]:
df_data = column_knn_imputer(df)

In [37]:
df_data.isnull().sum().sum()

0

In [38]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, 1 to 410
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         410 non-null    int64
 1   marital_status              410 non-null    category
 2   education                   410 non-null    category
 3   gestationnal_age            410 non-null    float64
 4   type_pregnancy              410 non-null    category
 5   sex                         410 non-null    category
 6   cbts_m_3                    410 non-null    category
 7   cbts_m_4                    410 non-null    category
 8   cbts_m_5                    410 non-null    category
 9   cbts_m_6                    410 non-null    category
 10  cbts_m_7                    410 non-null    category
 11  cbts_m_8                    410 non-null    category
 12  cbts_m_9                    410 non-null    category
 13  cbts_m_10                   410 non-null    category
 14  cbts_m_11                   410 non-null    category
 15  cbts_m_12                   410 non-null    category
 16  cbts_13                     410 non-null    category
 17  cbts_14                     410 non-null    category
 18  cbts_15                     410 non-null    category
 19  cbts_16                     410 non-null    category
 20  cbts_17                     410 non-null    category
 21  cbts_18                     410 non-null    category
 22  cbts_19                     410 non-null    category
 23  cbts_20                     410 non-null    category
 24  cbts_21                     410 non-null    category
 25  cbts_22                     410 non-null    category
 26  epds_1                      410 non-null    category
 27  epds_2                      410 non-null    category
 28  epds_3                      410 non-null    category
 29  epds_4                      410 non-null    category
 30  epds_5                      410 non-null    category
 31  epds_6                      410 non-null    category
 32  epds_7                      410 non-null    category
 33  epds_8                      410 non-null    category
 34  epds_9                      410 non-null    category
 35  epds_10                     410 non-null    category
 36  hads_1                      410 non-null    category
 37  hads_3                      410 non-null    category
 38  hads_5                      410 non-null    category
 39  hads_7                      410 non-null    category
 40  hads_9                      410 non-null    category
 41  hads_11                     410 non-null    category
 42  hads_13                     410 non-null    category
 43  age_bb                      410 non-null    category
 44  ibq_r_vsf_3_bb1             410 non-null    float64
 45  ibq_r_vsf_4_bb1             410 non-null    float64
 46  ibq_r_vsf_9_bb1             410 non-null    float64
 47  ibq_r_vsf_10_bb1            410 non-null    float64
 48  ibq_r_vsf_16_bb1            410 non-null    float64
 49  ibq_r_vsf_17_bb1            410 non-null    float64
 50  ibq_r_vsf_28_bb1            410 non-null    float64
 51  ibq_r_vsf_29_bb1            410 non-null    float64
 52  ibq_r_vsf_32_bb1            410 non-null    float64
 53  ibq_r_vsf_33_bb1            410 non-null    float64
 54  sleep_night_duration_bb1    410 non-null    category
 55  night_awakening_number_bb1  410 non-null    int64
 56  how_falling_asleep_bb1      410 non-null    category
dtypes: category(44), float64(11), int64(2)
memory usage: 71.4 KB

In [39]:
for col in ['ibq_r_vsf_3_bb1', 'ibq_r_vsf_4_bb1','ibq_r_vsf_9_bb1', 'ibq_r_vsf_10_bb1', 
            'ibq_r_vsf_16_bb1', 'ibq_r_vsf_17_bb1', 'ibq_r_vsf_28_bb1', 'ibq_r_vsf_29_bb1',
            'ibq_r_vsf_32_bb1', 'ibq_r_vsf_33_bb1']:
    df_data[col] = df_data[col].astype('int')

In [40]:
for col in ['ibq_r_vsf_3_bb1', 'ibq_r_vsf_4_bb1','ibq_r_vsf_9_bb1', 'ibq_r_vsf_10_bb1', 
            'ibq_r_vsf_16_bb1', 'ibq_r_vsf_17_bb1', 'ibq_r_vsf_28_bb1', 'ibq_r_vsf_29_bb1',
            'ibq_r_vsf_32_bb1', 'ibq_r_vsf_33_bb1']:
    df_data[col] = df_data[col].astype('category')

In [41]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, 1 to 410
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         410 non-null    int64
 1   marital_status              410 non-null    category
 2   education                   410 non-null    category
 3   gestationnal_age            410 non-null    float64
 4   type_pregnancy              410 non-null    category
 5   sex                         410 non-null    category
 6   cbts_m_3                    410 non-null    category
 7   cbts_m_4                    410 non-null    category
 8   cbts_m_5                    410 non-null    category
 9   cbts_m_6                    410 non-null    category
 10  cbts_m_7                    410 non-null    category
 11  cbts_m_8                    410 non-null    category
 12  cbts_m_9                    410 non-null    category
 13  cbts_m_10                   410 non-null    category
 14  cbts_m_11                   410 non-null    category
 15  cbts_m_12                   410 non-null    category
 16  cbts_13                     410 non-null    category
 17  cbts_14                     410 non-null    category
 18  cbts_15                     410 non-null    category
 19  cbts_16                     410 non-null    category
 20  cbts_17                     410 non-null    category
 21  cbts_18                     410 non-null    category
 22  cbts_19                     410 non-null    category
 23  cbts_20                     410 non-null    category
 24  cbts_21                     410 non-null    category
 25  cbts_22                     410 non-null    category
 26  epds_1                      410 non-null    category
 27  epds_2                      410 non-null    category
 28  epds_3                      410 non-null    category
 29  epds_4                      410 non-null    category
 30  epds_5                      410 non-null    category
 31  epds_6                      410 non-null    category
 32  epds_7                      410 non-null    category
 33  epds_8                      410 non-null    category
 34  epds_9                      410 non-null    category
 35  epds_10                     410 non-null    category
 36  hads_1                      410 non-null    category
 37  hads_3                      410 non-null    category
 38  hads_5                      410 non-null    category
 39  hads_7                      410 non-null    category
 40  hads_9                      410 non-null    category
 41  hads_11                     410 non-null    category
 42  hads_13                     410 non-null    category
 43  age_bb                      410 non-null    category
 44  ibq_r_vsf_3_bb1             410 non-null    category
 45  ibq_r_vsf_4_bb1             410 non-null    category
 46  ibq_r_vsf_9_bb1             410 non-null    category
 47  ibq_r_vsf_10_bb1            410 non-null    category
 48  ibq_r_vsf_16_bb1            410 non-null    category
 49  ibq_r_vsf_17_bb1            410 non-null    category
 50  ibq_r_vsf_28_bb1            410 non-null    category
 51  ibq_r_vsf_29_bb1            410 non-null    category
 52  ibq_r_vsf_32_bb1            410 non-null    category
 53  ibq_r_vsf_33_bb1            410 non-null    category
 54  sleep_night_duration_bb1    410 non-null    category
 55  night_awakening_number_bb1  410 non-null    int64
 56  how_falling_asleep_bb1      410 non-null    category
dtypes: category(54), float64(1), int64(2)
memory usage: 46.9 KB

In [42]:
for col in df_data.columns:
    if col not in ['Participant_number', 'Gestationnal_age', 'Age']:
        print(f'{col} - {np.sort(df_data[col].unique())}')

age - [19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
 43 47]
marital_status - ['r' 's' 'sep-d-w']
education - ['U' 'a_c_t' 'h_s' 'n_e' 's_U']
gestationnal_age - [26.5 27.5 32.  33.6 34.  34.2 34.3 34.4 34.6 35.  35.4 35.6 36.  36.2
 36.3 36.5 36.6 36.7 37.  37.2 37.3 37.4 37.5 37.6 38.  38.1 38.2 38.3
 38.4 38.5 38.6 39.  39.1 39.2 39.3 39.4 39.5 39.6 39.7 40.  40.1 40.2
 40.3 40.4 40.5 40.6 41.  41.1 41.2 41.3 41.4 41.5 41.6 42.  42.2 42.5
 43. ]
type_pregnancy - ['single' 'twin']
sex - ['boy' 'girl']
cbts_m_3 - [0 1 2 3]
cbts_m_4 - [0 1 2 3]
cbts_m_5 - [0 1 2 3]
cbts_m_6 - [0 1 2 3]
cbts_m_7 - [0 1 2 3]
cbts_m_8 - [0 1 2 3]
cbts_m_9 - [0 1 2 3]
cbts_m_10 - [0 1 2 3]
cbts_m_11 - [0 1 2 3]
cbts_m_12 - [0 1 2 3]
cbts_13 - [0 1 2 3]
cbts_14 - [0 1 2 3]
cbts_15 - [0 1 2 3]
cbts_16 - [0 1 2 3]
cbts_17 - [0 1 2 3]
cbts_18 - [0 1 2 3]
cbts_19 - [0 1 2 3]
cbts_20 - [0 1 2 3]
cbts_21 - [0 1 2 3]
cbts_22 - [0 1 2 3]
epds_1 - [0 1 2 3]
epds_2 - [0 1 2 3]
epds_3 - [0 1 2 3]
epds_4 - [0 1 2 3]
epds_5 - [0 1 2 3]
epds_6 - [0 1 2 3]
epds_7 - [0 1 2 3]
epds_8 - [0 1 2 3]
epds_9 - [0 1 2 3]
epds_10 - [0 1 2 3]
hads_1 - [0 1 2 3]
hads_3 - [0 1 2 3]
hads_5 - [0 1 2 3]
hads_7 - [0 1 2 3]
hads_9 - [0 1 2 3]
hads_11 - [0 1 2 3]
hads_13 - [0 1 2 3]
age_bb - ['3 to <6' '6 to <9' '9 to <12']
ibq_r_vsf_3_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_4_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_9_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_10_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_16_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_17_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_28_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_29_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_32_bb1 - [1 2 3 4 5 6 7]
ibq_r_vsf_33_bb1 - [1 2 3 4 5 6 7]
sleep_night_duration_bb1 - ['10:00' '10:30' '11:00' '11:15' '11:30' '12:00' '5:00' '6:00' '7:00'
 '7:30' '8:00' '8:30' '99:99' '9:00' '9:30']
night_awakening_number_bb1 - [ 0  1  2  3  4  5  6  7  8 10]
how_falling_asleep_bb1 - ['alone in the crib' 'in the crib with parental presence'
 'while being fed' 'while being held' 'while being rocked']

### EDA Summary Stats

#### Numerical values

In [ ]:
# Function to get summary stats
def get_summary_stats_by_columns(df):
    column_name = df.columns
    new_df = pd.DataFrame(index=['Data type', 'Min', '25%', '50%', '75%','Max', 'Mean', 'Median', 'Mode', 'STD', 'Skewness', 'Kurtosis', 'Count'])
    for col in column_name:
        if pd.api.types.is_numeric_dtype(df[col]):
            new_df[col.upper()] = [df[col].dtype, df[col].min(), df[col].quantile(.25), df[col].quantile(.5), df[col].quantile(.75),df[col].max(), df[col].mean(), df[col].median(),
                                   df[col].mode()[0], df[col].std(), df[col].skew(), df[col].kurt() , df[col].count()]
    return new_df

In [ ]:
get_summary_stats_by_columns(df_data)

In [ ]:
df_data.hist(figsize=(6,6));

#### Categorical values

In [ ]:
df_data.describe(exclude='number')

In [ ]:
cat_column_list = ['Marital_status', 'Education', 'Type_pregnancy', 'Sex', 'Age_bb',
            'CBTS_M_3', 'CBTS_M_4', 'CBTS_M_5', 'CBTS_M_6', 'CBTS_M_7', 'CBTS_M_8', 'CBTS_M_9', 
            'CBTS_M_10', 'CBTS_M_11', 'CBTS_M_12', 'CBTS_13', 'CBTS_14', 'CBTS_15', 'CBTS_16',
            'CBTS_17', 'CBTS_18', 'CBTS_19', 'CBTS_20', 'CBTS_21', 'CBTS_22',
            'EPDS_1', 'EPDS_2', 'EPDS_3', 'EPDS_4', 'EPDS_5', 'EPDS_6', 'EPDS_7',
            'EPDS_8', 'EPDS_9', 'EPDS_10', 'HADS_1', 'HADS_3', 'HADS_5', 'HADS_7',
            'HADS_9', 'HADS_11', 'HADS_13']
len(cat_column_list)

In [ ]:
fig, ax = plt.subplots(nrows = 14, ncols = 3, figsize =(15,70))
fig.tight_layout(pad=6.0)
i = 0
for row in range(14):
    for col in range(3):
        g = sns.countplot(x=cat_column_list[i], data=df_data, ax = ax[row,col]);
        g.set_xticklabels(g.get_xticklabels(), rotation=30)
        for p in g.patches:
            g.annotate('{:.0f}'.format(p.get_height()), (p.get_x()+0.15, p.get_height()+0.05))
        i += 1
plt.show()

In [ ]:
cat_column_list_2 = ['Age_bb', 'IBQ_R_VSF_3_bb1', 'IBQ_R_VSF_4_bb1','IBQ_R_VSF_9_bb1', 'IBQ_R_VSF_10_bb1', 
                     'IBQ_R_VSF_16_bb1', 'IBQ_R_VSF_17_bb1', 'IBQ_R_VSF_28_bb1', 'IBQ_R_VSF_29_bb1',
                     'IBQ_R_VSF_32_bb1', 'IBQ_R_VSF_33_bb1', 'Sleep_night_duration_bb1']
len(cat_column_list_2)

In [ ]:
fig, ax = plt.subplots(nrows = 4, ncols = 3, figsize =(15,20))
fig.tight_layout(pad=6.0)
i = 0
for row in range(4):
    for col in range(3):
        g = sns.countplot(x=cat_column_list_2[i], data=df_data, ax = ax[row,col]);
        g.set_xticklabels(g.get_xticklabels(), rotation=30)
        for p in g.patches:
            g.annotate('{:.0f}'.format(p.get_height()), (p.get_x()+0.15, p.get_height()+0.05))
        i += 1
plt.show()